<%- include("header") -%>



<h2> this is about page</h2>

<p>fdbfsjeohfn fiesefih feisonf hfesoiehfsefojeofjiseohfiseh fhhf uhuseihiauhfesefh eshfuesh fusfiehf hffushfdfhasf</p>

<%- include("footer") -%>
